body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font: 11pt courier;
}

h1 {
    font-size: 30px;
}

h4 {
    font-family: verdana, serif;
    margin-top: 2px;
    margin-bottom: 3px;
}

h1, h3 {
    font-family: verdana, serif;
    margin-top: 0;
    margin-bottom: 3px;
}

ul {
    margin: 0;
}

small {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    width: 100%;
}

.text {
    font-size: 13px;
    margin-bottom: 2px;
}

.little {
    font-size: 9px;
}

.date {
    font-family: verdana, serif;
    font-size: 9px;
    padding: 10px;
}

.link {
    text-decoration: none;
    color: black;
}

.container {
    flex: 1;
    align-content: space-between;
    background: #FAFAFA;
    border-radius: 10px;
    border: 1px solid #888888;
    margin: 8px;
    padding: 10px;
}

.section {
    display: flex;
}

.title {
    display: inline-flex;
    align-items: center;
    background: #F0F0F0;
    padding: 8px;
}

#photo {
    border-radius: 100%;
    margin: 10px 40px 10px 40px;
    border: 1px solid #888888;
    width: 80px;
    height: 80px;
}

.name {
    font-family: verdana, serif;
    font-size: 16px;
}

.contact {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 10px;
    border: 1px solid #888888;
    padding: 11px 13px;
    margin: 16px 10px;
}

.contact-ico {
    margin-right: 0.7em;
    height: 15px;
}

#about {
    text-align: justify;
    padding: 0 10px;
}

.education-date {
    width: 80px;
    text-align: center;
}

.language {
    display: flex;
    margin: 10px 0;
}

.lang {
    text-align: center;
    font-family: verdana, serif;
    font-size: 8px;
}

.flag {
    height: 40px;
}

.degree {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    padding: 9px;
}

.badge {
    display: inline-flex;
    border-radius: 15px;
    padding: 5px 8px;
    margin: 3px auto;
    font-size: 13px;
    background: white;
    border: 1px solid #888888;
}

.logo-svg {
    height: 15px;
    padding: 0 5px 0 0;
}

.work td {
    padding: 8px 20px;
    text-align: left;
}

.work {
    width: 100%;
}

.agreement {
    text-align: justify;
}

.space {
    flex: 1;
}

footer {
    margin-top: auto;
    width: 100%;
    font-size: 10px;
    text-align: center;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }

    .page {
        display: flex;
        margin: 0;
        width: 210mm;
        height: 297mm;
        border: initial;
        border-radius: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}